@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard 폰트 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 커스텀 스타일은 아래에 추가하셔서 사용하시면 됩니다. */
@layer components {
  /* ----------------------- start chip & dropdown menu ----------------------- */
  .statusChip-style {
    @apply w-fit rounded-2xl bg-violet02 px-2 py-1 text-xs text-violet01 md:px-[10px] md:py-1 md:text-base;
  }

  .dropdown-custom-btn {
    @apply rounded px-3 py-1 transition-all hover:bg-violet02 hover:text-violet01;
  }

  .status-dropdown-custom-btn {
    @apply flex items-center space-x-2 px-5 py-2 transition-all hover:bg-violet01 hover:text-white;
  }

  .search-dropdown-custom-btn {
    @apply flex items-center space-x-2 px-5 py-3 transition-all hover:bg-violet01 hover:text-white;
  }
  /* ----------------------- end chip & dropdown menu ----------------------- */

  /* ----------------------- start datepicker calendar ----------------------- */
  .react-datepicker-wrapper {
    @apply w-full;
  }

  .react-datepicker {
    @apply flex;
  }

  .react-datepicker .react-datepicker__header {
    @apply bg-violet02;
  }

  .react-datepicker .react-datepicker__day,
  .react-datepicker .react-datepicker__time-list-item,
  .react-datepicker .react-datepicker__day--keyboard-selected,
  .react-datepicker .react-datepicker__day--selected,
  .react-datepicker .react-datepicker__time-list-item--selected {
    @apply hover:bg-violet02 !important;
  }

  .react-datepicker .react-datepicker__day--keyboard-selected,
  .react-datepicker .react-datepicker__day--selected,
  .react-datepicker .react-datepicker__time-list-item--selected {
    @apply bg-purple01 text-white hover:bg-purple01 !important;
  }

  .react-datepicker .react-datepicker__current-month,
  .react-datepicker .react-datepicker-time__header {
    @apply text-black04;
  }

  .react-datepicker .react-datepicker__day-name {
    @apply text-gray01;
  }
  /* ----------------------- end datepicker calendar ----------------------- */

  /* ----------------------- start scrollbar ----------------------- */
  body::-webkit-scrollbar,
  .react-datepicker .react-datepicker__time-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar-track,
  .react-datepicker .react-datepicker__time-list::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar-thumb,
  .react-datepicker .react-datepicker__time-list::-webkit-scrollbar-thumb {
    background: rgba(85, 52, 218, 0.6);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  /* ----------------------- end scrollbar ----------------------- */

  .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
